<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="head :: HEAD"></div>
<body>

    <!--Topbar -->
    <div th:replace="topbar :: TOPBAR"></div>

    <!--Sidebar -->
    <div th:replace="sidebar :: SIDEBAR"></div>

    <!--Content -->
    <div class="content-start transition">
        <div class="container-fluid dashboard">
            <div class="content-header">
                <h1>[[${title}]]</h1>
                <p></p>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>[[${title}]]</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">Élément du Module</th>
                                    <th scope="col">Coefficient</th>
                                    <th scope="col">Module</th>
                                    <th scope="col">Filière</th>
                                    <th scope="col">Étudiants</th>
                                    <th scope="col">Notes</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="moduleElement : ${moduleElementsList}">
                                    <th scope="row">[[${moduleElement.name}]]</th>
                                    <td>[[${moduleElement.percentage}]]%</td>
                                    <td>[[${moduleElement.module.name}]]</td>
                                    <td>[[${moduleElement.module.sector.nameAbbreviation}]]</td>
                                    <td>
                                        <a th:href="@{/etudiants(moduleElementId=${moduleElement.id}, sectorId=${moduleElement.module.sector.id}, semester=${moduleElement.module.semester})}">étudiants</a>
                                    </td>
                                    <td>
                                        <a th:href="@{/notes(moduleElementId=${moduleElement.id}, sectorId=${moduleElement.module.sector.id}, semester=${moduleElement.module.semester})}">notes</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer -->
    <div th:replace="footer :: FOOTER"></div>

    <!--Scripts -->
    <div th:replace="scripts :: SCRIPTS"></div>

</body>
</html>