<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="head :: HEAD"></div>
<body>

<!--Topbar -->
<div th:replace="topbar :: TOPBAR"></div>

<!--Sidebar -->
<div th:replace="sidebar :: SIDEBAR"></div>

<!--Content -->
<div class="content-start transition">
  <div class="container-fluid dashboard">
    <div class="content-header">
      <h1>[[${title}]]</h1>
      <p></p>
    </div>

    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4>[[${title}]]</h4>
          <p>
            <a th:href="@{/insertion-notes(moduleElementId=${moduleElement.id})}">Insérer les notes</a>
          </p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col">Appogé</th>
                <th scope="col">CNE</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Notes</th>
              </tr>
              </thead>
              <tbody>
              <!-- Itérer seulement pour le premier étudiant dans gradesList -->
              <tr th:each="student, iterStat : ${studentsList}">
                <!-- Afficher les informations de l'étudiant -->
                <th scope="row">[[${student.appoge}]]</th>
                <th scope="row">[[${student.CNE}]]</th>
                <td>[[${student.lastName}]]</td>
                <td>[[${student.firstName}]]</td>

                <!-- Boucle interne pour afficher toutes les notes de cet étudiant -->
                <td>
                  <div th:each="procedure : ${proceduresList}">
                    <span>[[${procedure.type}]] :
                      <div th:each="grade : ${gradesList}" th:if="${grade.student.CNE == student.CNE && procedure.type == grade.procedure.type}" th:remove="tag">
                        <span th:text="${grade.grade}"></span>
                      </div>
                    </span>

                  </div>
                </td>



              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!--Footer -->
<div th:replace="footer :: FOOTER"></div>

<!--Scripts -->
<div th:replace="scripts :: SCRIPTS"></div>
</body>
</html>